h1 {
  font-size: 15px;
  color: rgb(4, 33, 59);
}
p {
  font-size: 12px;
  color: rgb(4, 33, 59);
}

ul {
  font-size: 10px;
  color: rgb(4, 33, 59);
  list-style: none;
  text-align: left;
}

body {
  background-color: rgb(255, 227, 151);
}
