nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 1);
  padding: 0px 5%;
  position: fixed;
  width: 100%;
  background-color: rgb(221, 195, 166);
}

section {
  width: 100%;
  height: 135vh;
  background-repeat: no-repeat;
  background-size: cover;
}

nav ul li a {
  margin: 30px;
  color: #505050;
}
ul {
  list-style-type: none;
}
nav ul {
  display: flex;
}

a {
  text-decoration: none;
}

ul li a:hover {
  color: rgb(153, 119, 77);
}

.menu {
  display: flex;
  font-size: 40px;
  list-style-type: none;
  color: rgb(145, 56, 56);
  letter-spacing: 0.5px;
  justify-content: space-between;
  height: 45px;
  font-family: "Open Sans", sans-serif;
}

.logo {
  color: rgb(133, 55, 55);
  letter-spacing: 1px;
  font-size: 50px;
  align-items: center;
  justify-content: space-between;
  font-family: "Lobster", cursive;
  left: 1000px;
}

body {
  background-color: rgb(255, 227, 151);
}

.img1 {
  position: absolute;
  left: 2%;
  bottom: 120px;
  width: 400px;
  border-radius: 22px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 1);
}
.img2 {
  position: absolute;
  left: 46%;
  bottom: 285px;
  width: 400px;
  border-radius: 22px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 1);
}
.img3 {
  position: absolute;
  left: 24%;
  bottom: 430px;
  width: 400px;
  border-radius: 22px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 1);
}
.img4 {
  position: absolute;
  left: 24%;
  bottom: 140px;
  width: 400px;
  border-radius: 22px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 1);
}
